body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; /* Copied from GitHub */
}

html,
body {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#root {
  height: 100%;
  padding: 12px 24px 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-options {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.app-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #c1c1c1;
  box-shadow: 0 0 20px #aaa;
}

/* .content {
  flex-grow: 1;
  display: flex;
} */

.incognito {
  color: #fff;
}
