@import url(../variables);

.browser {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius);
  border: 1px solid #c1c1c1;
  box-shadow: 0 0 20px #aaa;
}

.content {
  flex-grow: 1;
  display: flex;
}
