:root {
  --background: #dbdbdb;
  --hover: #ccc;
  --border: #ccc;
  --nav: #f2f2f2;
  --icon: #6d6d6d;
  --icon-hover: #ccc;
  --icon-focus: #aaa;
  --border-radius: 8px;
}

.browser {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius);
  border: 1px solid #c1c1c1;
  box-shadow: 0 0 20px #aaa;
}

.hidden {
  display: none;
}

.tabs {
  display: flex;
  flex-wrap: nowrap;
  background: var(--background);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  height: 36px;
  padding-top: 8px;
  padding-left: 79px;
  padding-right: 20px;
  & .add {
    background: #d0d0d0;
    width: 26px;
    height: 15px;
    border-radius: 2px;
    margin-left: 8px;
    border: 1px solid var(--border);
    align-self: center;
    transform: skewx(25deg);
    &:hover {
      background: #eee;
    }
  }
}

.tab {
  flex-basis: 218px;
  display: flex;
  min-width: 0; /* http://stackoverflow.com/questions/34934586/white-space-nowrap-and-flexbox-did-not-work-in-chrome */
  align-items: center;
  position: relative;
  background-color: var(--background);
  border-top: 1px solid var(--border);
  margin: 0 5px;
  font-size: 0;
  &:hover {
    background: var(--hover);
    transition: background-color .5s;
    &::before, &::after {
      background: var(--hover);
      transition: background-color .5s;
    }
  }
  &.active {
    background: var(--nav);
    height: 29px;
    border-bottom: 1px solid var(--nav);
    transition: all 0s;
    &::before, &::after {
      z-index: 10;
      transition: all 0s;
      align-self: flex-start;
      height: 28px;
      background: var(--nav);
      border-bottom: 1px solid var(--nav);
    }
  }
  & .favicon {
    z-index: 100;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
  }
  & .close {
    fill: #000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    &:hover {
      fill: #fff;
      background: #f00;
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    width: 16px;
    height: 28px;
    background-color: var(--background);
    border-left: 1px solid var(--border);
    transform: skewx(-25deg);
    transform-origin: left top;
  }
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    width: 16px;
    height: 28px;
    background-color: var(--background);
    border-right: 1px solid var(--border);
    transform: skewx(25deg);
    transform-origin: right top;
  }
}

.tab-content {
  flex-grow: 1;
  padding-left: 2px;
  font-size: 12.6px;
  line-height: 28px;
  cursor: default;
  max-width: 200px;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.nav {
  display: flex;
  align-items: center;
  background: var(--nav);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid #ddd;
  padding-left: 4px;
  padding-right: 4px;
  height: 38px;
  & a {
    border-radius: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 4px;
    height: 24px;
    &:hover {
      background: var(--icon-hover);
    }
    &:focus {
      background: var(--icon-focus);
    }
  }
  & svg {
    width: 16px;
    height: 16px;
    & path {
      fill: var(--icon);
    }
  }
  & form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background: #fff;
    height: 28px;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 2px;
    border: 1px solid var(--border);
    & svg {
      margin-right: 4px;
    }
    & input {
      display: block;
      border: none;
      width: 100%;
      padding-left: 25px;
      font-size: 13.6px;
      &:focus {
        outline: none;
      }
    }
  }
}

.content {
  flex-grow: 1;
  display: flex;

  & iframe {
    border: 0;
    width: 100%;
  }
}