:root {
  --background: #dbdbdb;
  --border: #bbb;
  --border-radius: 4px;
}

.container {
  display: flex;
  align-items: center;
  background: var(--background);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.tabs {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & ul {
    flex-grow: 1;
    display: flex;
    padding: 8px 20px 0 12px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    height: 36px;
  }
}

.add {
  flex-shrink: 0;
  background: #d9d9d9;
  width: 26px;
  height: 15px;
  border-radius: 2px;
  margin-left: 8px;
  border: 1px solid var(--border);
  align-self: center;
  transform: skewx(25deg);
  &:hover {
    background: #e4e4e4;
  }
  &:active {
    background: #ccc;
  }
}

.incognito {
  visibility: hidden;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  & path {
    fill: #fff;
  }
}

:global(.incognito) {
  & .container {
    background: #1e1e1e;
    & .add {
      background: #373737;
      border-color: #373737;
      &:hover {
        background: #555;
        border-color: #555;
      }
      &:active {
        background: #333;
        border-color: #333;
      }
    }
  }
  & .incognito {
    visibility: visible;
  }
}
