:root {
  --background: #dbdbdb;
  --border: #bbb;
  --border-radius: 4px;
}

.container {
  display: flex;
  align-items: center;
  background: var(--background);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.tabs {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  height: 36px;
  padding: 8px 20px 0 12px;
}

.add {
  background: #d0d0d0;
  width: 26px;
  height: 15px;
  border-radius: 2px;
  margin-left: 8px;
  border: 1px solid var(--border);
  align-self: center;
  transform: skewx(25deg);
  &:hover {
    background: #d9d9d9;
  }
}

.widget {
  margin: 0 8px;
  height: 20px;
  & iframe {
    width: 90px;
    height: 20px;
  }
}
