.content {
  flex-grow: 1;
  display: flex;

  & iframe {
    border: 0;
    width: 100%;
    min-height: 100%; /* This fix Edge */
  }
}

.hidden {
  display: none;
}

:global(.incognito) {
  /*background:#323232;*/
}