.tab {
  height: 30px;
  width: 100px;
  background: #eee;
  border-top: 1px solid #ccc;
}

.tab::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: #eee;
  border-left: 1px solid #ccc;
  transform: skewx(-20deg);
}

.tab::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: #eee;
  border-right: 1px solid #ccc;
  transform: skewx(20deg);
}