.tabs {
  display: flex;
  flex-wrap: nowrap;
  background: #ddd;
  height: 40px;
  padding-top: 10px;
}

.tabs > li {
  flex-basis: 200px;
  display: flex;
}

.tabs .add {
  background: #d0d0d0;
  width: 20px;
  height: 20px;
  transform: skewx(20deg);
}